/* responsive < 320px devices */
body{
    min-width: 320px;
}
/* common */
img{
    width: 100%;
}
.wrapper85{
    max-width: 85%;
    margin: auto;
}
.wrapper60{
    max-width: 60%;
    margin: auto;
}
/* font style */
h2 , h1{
    margin: 0;
    padding: 5px;
}
.bold{
    font-weight: bold;
}
.blue{
    color: #2285fd;
}
.black{
    color: #0c2453;
}


/* list reset */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
}

/* HEADER */
.navbar-default{
    background-color: white;
    border: 0;
    box-shadow: 0 4px 2px -2px#b1b1b1c7;
}
.padding-top{
    padding-top: 8px;
}
.logo{
    max-width: 150px;
}
.burger-menu{
    height: 100%;
}
.burger-menu{
    color: #2285fd;
    font-size: 22px;
    text-align: right;
}
.nav-menu li a{
    text-decoration: none;
    color: #48597c;
    line-height: 32px;
    font-weight: bold;
    margin-right: 5px;
}
.nav-right{
    text-align: right;
}
.chevron-down{
    display: inline-block;
}
nav .btn-default{
    padding: 0 7%;
    border-color: #2285fd;
}
.nav-right li a span {
    color: #2285fd;
}
.nav-right li .button {
    margin-right: 0px;
}
/* <> */

/* MAIN */

/* Jumbotron */
.Jumbotron{
    background-image: url(../img/ms-jumbo.jpg);
    margin-top: 50px;
    padding: 50px 0;
    color: white;
}
.square{
    background-color: white;
    border-radius: 5px;
    padding: 30px 20px;
}
.Jumbotron .subtext{
    line-height: 30px;
    margin-top: 15px;
}
.form-control{
    margin-bottom: 10px;
}
label{
    height: 10px;
    display: none;
}
.Jumbotron .btn-create{
    width: 100%;
    border: 1px solid #ccc;
    background-color: #2285fd;
}
.Jumbotron h1{
    font-size: 55px;
}
.Jumbotron .btn-sign-up{
    width: 100%;
    box-shadow: 3px 4px 2px -2px#b1b1b1c7;
    margin-top: 5px;
    position: relative;
}
.google-img{
    position: absolute;
    top: 6px;
}
.google-img img{
    height: 20px;
    width: auto;
}
.btn a{
    color: gray;
    text-decoration: none;
}
.therms{
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 10px;
}
.subtext{
    font-size: 24px;
    color: #bbcdff;
}