/* responsive < 320px devices */
body{
    min-width: 320px;
}
/* common */
img{
    width: 100%;
}
.wrapper85{
    max-width: 85%;
    margin: auto;
}
.wrapper75{
    max-width: 75%;
    margin: auto;
}
.void{
    padding-bottom: 10%;
}
/* font style */

h2 , h1{
    margin: 0;
    padding: 5px;
}
.bold{
    font-weight: bold;
}
.blue{
    color: #2285fd;
}
.black{
    color: #092152;
}
.gray{
    color: gray;
}


/* list reset */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
}

/* HEADER */
.navbar-default{
    background-color: white;
    border: 0;
    box-shadow: 0 4px 2px -2px#b1b1b1c7;
}
.padding-top{
    padding-top: 8px;
}
.logo{
    max-width: 150px;
}
.burger-menu{
    height: 100%;
}
.burger-menu{
    color: #2285fd;
    font-size: 22px;
    text-align: right;
}
.nav-menu li a{
    text-decoration: none;
    color: #48597c;
    line-height: 32px;
    font-weight: bold;
    margin-right: 5px;
}
.nav-right{
    text-align: right;
}
.chevron-down{
    display: inline-block;
}
nav .btn-default{
    padding: 0 7%;
    border-color: #2285fd;
}
.nav-right li a span {
    color: #2285fd;
}
.nav-right li .button {
    margin-right: 0px;
}
/* <> */

/* MAIN */

/* Jumbotron */
.Jumbotron{
    background-image: url(../img/ms-jumbo.jpg);
    margin-top: 50px;
    padding: 50px 0;
    color: white;
}
.square{
    background-color: white;
    border-radius: 5px;
    padding: 30px 20px;
}
.Jumbotron .subtext{
    line-height: 30px;
    margin-top: 15px;
}
.form-control{
    margin-bottom: 10px;
}
label{
    height: 10px;
    display: none;
}
.Jumbotron .btn-create{
    width: 100%;
    border: 1px solid #ccc;
    background-color: #2285fd;
}
.Jumbotron h1{
    font-size: 55px;
}
.Jumbotron .btn-sign-up{
    width: 100%;
    box-shadow: 3px 4px 2px -2px#b1b1b1c7;
    margin-top: 5px;
    position: relative;
}
.google-img{
    position: absolute;
    top: 6px;
}
.google-img img{
    height: 20px;
    width: auto;
}
.btn a{
    color: gray;
    text-decoration: none;
}
.therms{
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 10px;
}
.subtext{
    font-size: 24px;
    color: #bbcdff;
}
/* customers */
.cust-backg{
    background-color: #f3f5f9;
    padding-bottom: 50px;
}
.customersh5{
    color: gray;
    padding-top: 20px;
}
.customers-logos .customers li{
    width: calc((100% / 6) - 4px);
  }

@media all and (max-width: 767px) {
.customers-logos .customers li{
    width: calc((100% / 2) - 4px);
    }
}
/* features */
.features{
    padding: 30px 0;
}
.features-list {
    text-align: left;
}
.features-list li{
    display: block;
    padding: 10px 0;
    padding-left: 10px;
    color: gray;
    border-left: 1px solid gray;
    font-size: 22px;
}
.features img{
    height: 50px;
    width: auto;
    vertical-align: middle;
}
.features h4{
    padding: 5px 0;
}
.features > p , .slide-wrap > p{
    font-size: 22px;
}
.container-img{
    padding-top: 10%;
}
/* slide section */
.bg-slide{
    background-color: #f3f5f9;
    padding: 5% 0;
}
.red{
    background-color: rebeccapurple;
    height: 500px;
    padding-bottom: 50px;
}
.che{
    line-height: 450px;
    font-size: 38px;
}
.chevron-left{
    text-align: right;
}
.chevron-right{
    text-align: left;
}
.slide-padding-top{
    padding-top: 30px;
}
.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #006aff;
    display: inline-block;
}
.blue{
    background-color: #006aff;
}